server {
	<server_name>		lala1;
	<host>			127.0.0.1;
	<listen>		5050;
	<root>			./public/website1;
	<html_index>		index.html;
	<client_max_body_size>	2;
	<allow>			GET DELETE;
	<autoindex>		ON;
	<error_page>		404 ./public/error_pages/404.html;
	<upload_storage>	./public/website2/;
	location /path1.1 {
		<allow>		GET POST DELETE;
		<root>		./public/website1.0/;
		<html_index>	index.html;
	}
	location /path1.2 {
		<allow>		GET;
		<root>		./public/website1.1/;
		<html_index>	about.html;
	}
	location /path1.3 {
		<allow>		DELETE;
		<root>		./public/website1.2/;
		<html_index>	about.html;
	}
	location /path1.4 {
		<allow>		GET DELETE;
		<root>		./public/website2.0/;
		<html_index>	about.html;
	}
	location /path1.5 {
		<allow>			GET POST;
		<root>			./public/website2.1/;
		<html_index>		index.html;
       		<upload_storage>	./public/website2.1/;
    	}
    	location /path1.6 {
     		<allow>			GET POST;
        	<root>			./public/website2.2/;
        	<html_index>		action.php;
        	<upload_storage>	./public/website2.2/;
    	}
    	location /path1.7 {
        	<allow>		GET POST;
        	<root>		./public/website1.4/;
        	<html_index>	empty.html;
    	}
}

server {
	<server_name>		lala2;
    	<host>			127.0.0.1;
	<listen>		5051;
	<root>			./public/website1;
	<html_index>		index.html;
	<client_max_body_size>	30000;
	<allow>			GET DELETE;
	<autoindex>		on;
	<error_page>		404 ./public/error_pages/404.html;
	<upload_storage>	./public/website2/;
	<cgi_ext>		.php;
	<cgi_path>		/path/to/php-cgi;
	location /2.1 {
		<allow>		GET DELETE;
		<root>		./public/website2/;
		<html_index>	about.html;
	}
	location /2.2 {
		<allow>			GET POST;
		<root>			./public/website2/;
		<html_index>		index.html;
		<upload_storage>	./public/website2/;
	}
	location /2.3 {
		<allow>			GET POST;
		<root>			./public/website2/;
		<html_index>		action.php;
		<upload_storage>	./public/website2/;
	}
	location /2.4 {
		<allow>		GET POST;
		<root>		./public/website1/;
		<html_index>	empty.html;
	}
}

server {
	<server_name>	lala3;
	<host>		127.0.0.1;
	<listen>	5052;
	<autoindex>	on;
	<root>		./CGI/CGI-bin;
	location /3.1 {
		<allow>		POST GET;
		<root>		./CGI/CGI-bin/test-cgi.php;
		<cgi_ext>	php;
		<cgi_path>	./CGI/cgi-php/php-cgi;
	}
	location /3.2 {
		<allow>		GET POST;
		<root>		./CGI/CGI-bin/info.pl;
		<cgi_path>	/usr/bin/perl;
		<cgi_ext>	pl;
	}
}
