server {
	<listen> 				8001;
	<server_name> 			localhost1;
	<host> 					127.0.0.1;
	<root> 					/;
	<client_max_body_size>	3000000;
	<html_index>			index.html;
	<error_page>			301 html/error/301.html;
	<error_page>			302 html/error/302.html;
	<error_page>			400 html/error/400.html;
	<error_page>			403 html/error/403.html;
	<error_page>			405 html/error/405.html;
	<error_page>			411 html/error/411.html;
	<error_page>			413 html/error/413.html;
	<error_page>			415 html/error/415.html;
	<error_page>			500 html/error/500.html;
	<error_page>			501 html/error/501.html;
	<error_page>			505 html/error/505.html;
	<upload_storage>		/foo;
	#<cgi_ext>				foo.php;
	#<cgi_path>				/foo;
	<allow>					GET DELETE POST;
	#<return>				301 /src;
	<CGI>				.servCgi /path/to/servCgi;
	#<bullshit>	foo;
	location /html {
		<allow>			DELETE POST GET;
		<autoindex>		ON;
		<html_index>	hello1.htlm;
	}

	location /tours {
		<autoindex>		ON;
		<html_index>	hello2.html;
		<allow>			FOO1 FOO2;
	}

	location /red {
		<html_index>	hello3.htlm;
		<allow>			FII1 FII2;
	}	
	location /cgi-bin {
		<root>			./;
		<allow>			FUU1 FUU2;
		<html_index>	hello4.htlm;
	#	<cgi_path>		/usr/bin/python3 /bin/bash;
	#	<cgi_ext>		.py .sh;
	}
	location /cgi/test.java {
		<root>	locationCgi/path/toRoot;
		<html_index>	indexInLocation.html;
		<client_max_body_size>	3087;
		<allow>		FOO;
	}
}

server {
	<server_name>	localhost2;
	<listen>	8002;
	<host>		127.0.0.2;
	<allow>		DELETE;
	<html_index>	htlmindex;
	<error_page>	401 /401path/;
	<error_page>	404 /404path/;
	<CGI>		.py /path/to/py;
	<CGI>		.php /path/to/php;
	<return>	/some/other/redirection;
	<client_max_body_size>	3900;
	location /zbra {
		<autoindex>		ON;
		<html_index>	OK.html;
	}
	location /zbru {
		<autoindex>		ON;
		#	htlm ?;
		;
		<html_index>	BU.html;
		<CGI>		pl /path/to/pearl;
		#	foo aa ff
		<CGI>		pl /second/path/to/pearl;
	}
}

serverBis {
	       <listen>        8004;
        <host>          127.0.0.1;
        <allow>         DELETE;
        <error_page>    401 /401path/;
        <error_page>    404 /404path/;
        <CGI>           .py /path/to/py;
        <CGI>           .php /path/to/php;
 	<autoindex>             ON;
        <html_index>    OK.html;
	<server_name>	localhost3;
}
