server {
        <listen>		8002;
        <server_name>	localhost;
        <host>		127.0.0.1;
        <root> docs/fusion_web/;
        <client_max_body_size> 3000000;
        <html_index> index.html;
        <error_page> 404 error_pages/404.html;
        <allow> WORK;
        location / {
                <allow>  DELETE POST GET;
                <autoindex> off;
        }
        location / {
                <allow>  DELETE POST GET;
                <autoindex> off;
        }
}

server {
	<listen> 8003;
	<server_name> localhost2;
	<host> 127.0.0.1;
	<html_index> index2.html;
        <allow>         WORK2;
	location /scnloc {
		<html_index> BLBLBL.html;
		<autoindex> ON;
	}
	location /scnloc2 {
		<html_index> NKJNKJ2.html;
		<autoindex> ON;
	}
}
