server {

	<listen> 			8002;
	<host> 				127.0.0.1;
	<root> 				docs/fusion_web/;
	<client_max_body_size>	        3000000;
	<upload_storage>	foo/goo;
	<server_name> 			localhost;
	<html_index>		indexindexindex.html;
	#<error_page>	404 /path/to/error.html;
	location /wtfwtf {
		<allow>		DELETE POST GET;
	    <autoindex>	ON;
	}
}
