server {
	<listen> 				8002;
	<server_name> 			localhost;
	<host> 					127.0.0.1;
	<root> 					docs/fusion_web/;
	<client_max_body_size>	3000000;
	<html_index>			index.html;
	<error_page>			404 error_pages/404.html;
	<upload_storage>		/foo;
	<cgi_ext>				foo.php;
	<cgi_path>				/foo;
	<allow>					FIIII GET DELETE POST FOO;
	location / {
		<allow>			DELETE POST GET;
		<autoindex>		ON;
		<html_index>	hello1.htlm;
	}

	location /tours {
		<autoindex>		ON;
		<html_index>	hello2.html;
		<allow>			GET POST PUT HEAD;
	}

	location /red {
		<html_index>	hello3.htlm;
		<allow>		FII FOO;
	}	
	location /cgi-bin {
		<root>			./;
		<allow>			GET POST DELETE;
		<html_index>	hello4.htlm;
		<cgi_path>		/usr/bin/python3 /bin/bash;
		<cgi_ext>		.py .sh;
	}
}
