server {
	listen 8002;
	server_name localhost;
	host 127.0.0.1;
	root docs/fusion_web/;
	client_max_body_size 3000000;
	index index.html;
	error_page 404 error_pages/404.html;
	upload_storage /foo;
	cgi_ext foo.php;
	cgi_path /foo;
	allow_methods FIIII GET DELETE POST FOO;
	location / {
		allow_methods  DELETE POST GET;
		autoindex ON;
		index hello1.htlm;
	}

	location /tours {
		autoindex ON;
		index hello2.html;
		allow_methods GET POST PUT HEAD;
	}

	location /red {
		index hello3.htlm;
		return /tours;
	}

	location /cgi-bin {
		root ./;
		allow_methods GET POST DELETE;
		index hello4.htlm;
		cgi_path /usr/bin/python3 /bin/bash;
		cgi_ext .py .sh;
	}
}
