server {
	<listen>                8001;
	<server_name>           localhost1;
	<host>                  127.0.0.1;
	<root>                  ressources/;
	<client_max_body_size>  1234567;

	#hello
	<html_index>            /html/accueil.html;
	# pages d'erreur
	<error_page>            301 html/error/301.html;
	<error_page>            302 html/error/302.html;
	<error_page>            400 html/error/400.html;
	<error_page>            403 html/error/403.html;
	<error_page>            405 html/error/405.html;
	<error_page>            411 html/error/411.html;
	<error_page>            413 html/error/413.html;
	<error_page>            415 html/error/415.html;
	<error_page>            500 html/error/500.html;
	<error_page>            501 html/error/501.html;
	<error_page>            505 html/error/505.html;

	<upload_storage>        /foo;
	<allow>                 GET DELETE POST POST2;
	<autoindex>             ON;

	location /random {
		<html_index>        html/index.html;
		<client_max_body_size> 100;
		<allow>             GET DELETE FOOOO;
		<autoindex>         ON;
	}

	location /cgi/ {
		<root> ressources/;
		<CGI>  .java cgi_src/java/;
		<allow> GET DELETE POST;
	}
}
