server {
	<listen>                8001;
	<server_name>           localhost1;
	<host>                  127.0.0.1;
	<root>                  ressources/;
	<client_max_body_size>  12345678;

	#hello
	<html_index>            /html/accueil.html;
	# pages d'erreur
	<error_page>            301 html/error/301.html;
	<error_page>            302 html/error/302.html;
	<error_page>            400 html/error/400.html;
	<error_page>            403 html/error/403.html;
	<error_page>            404 html/error/404.html;
	<error_page>            405 html/error/405.html;
	<error_page>            411 html/error/411.html;
	<error_page>            413 html/error/413.html;
	<error_page>            415 html/error/415.html;
	<error_page>            500 html/error/500.html;
	<error_page>            501 html/error/501.html;
	<error_page>            505 html/error/505.html;

	<upload_storage>        /upload;
	<allow>                 GET DELETE POST POST2;
	<autoindex>             ON;
	<CGI>  .java cgi_src/java/;
    <CGI>   .py cgi_src/python/;
    <CGI>   .psy cgi_src/sourv/;

	location /random {
		<html_index>        html/index.html;
		<client_max_body_size> 100;
		<allow>             GET DELETE POST;
		<autoindex>         ON;
		<error_page>		404 html/error/foo404.html;

	location /test/ {
		<root>                  ressources/test/;
		<autoindex>             ON;
	}

	location /favicon.ico {
		<root>             ressources/image/dance-cat.gif;
	}

	location /cgi/ {
		<root> ressources/;
		<CGI>	.c cgi_src/c/;
		<CGI>	.cpp cgi_src/cpp/;
		<CGI>	.py cgi_src/python/cgi.py;
		<CGI>	.java cgi_src/java/;
		<allow> GET DELETE POST;
		<error_page>		404 html/error/foo404.html;
	}
}

server {
	<listen>                8002;
	<server_name>           localhost1;
	<host>                  127.0.0.1;
	<root>                  ressources/html/template/;
	<client_max_body_size>  12345678;

	#hello
	<html_index>            index.html;
	# pages d'erreur
	<error_page>            301 html/error/301.html;
	<error_page>            302 html/error/302.html;
	<error_page>            400 html/error/400.html;
	<error_page>            403 html/error/403.html;
	<error_page>            404 html/error/404.html;
	<error_page>            405 html/error/405.html;
	<error_page>            411 html/error/411.html;
	<error_page>            413 html/error/413.html;
	<error_page>            415 html/error/415.html;
	<error_page>            500 html/error/500.html;
	<error_page>            501 html/error/501.html;
	<error_page>            505 html/error/505.html;

	<allow>                 GET DELETE POST POST2;
	<autoindex>             ON;
	
	location /favicon.ico {
		<root>             ressources/image/dance-cat.gif;
	}
}