////////////////////////////////////////
// COMPLEX CONFIG FILE EXAMPLE
////////////////////////////////////////

// ---------- SERVER 1 ----------
server {
    <listen>                8001;
    <server_name>           localhost1;
    <host>                  127.0.0.1;
    <root>                  ./www/server1;
    <client_max_body_size>  1048576;             // 1 MB
    <html_index>            html/accueil.html;
    <autoindex>             ON;

    // Error pages
    <error_page>            301 html/error/301.html;
    <error_page>            302 html/error/302.html;
    <error_page>            400 html/error/400.html;
    <error_page>            403 html/error/403.html;
    <error_page>            404 html/error/404.html;
    <error_page>            405 html/error/405.html;
    <error_page>            500 html/error/500.html;

    // Upload storage
    <upload_storage>        ./uploads;

    // CGI example
    <CGI>                   .php /usr/bin/php-cgi;

    // Allowed methods
    <allow>                 GET POST DELETE;

    // Locations
    location /images {
        <root>              ./www/server1/images;
        <autoindex>         ON;
        <allow>             GET;
    }

    location /api {
        <root>              ./www/server1/api;
        <client_max_body_size> 524288;         // 512 KB
        <allow>             GET POST;
    }

    location /cgi-bin {
        <CGI>               .py /usr/bin/python3;
        <allow>             GET POST;
    }
}

// ---------- SERVER 2 ----------
server {
    <listen>                8002;
    <server_name>           localhost2;
    <host>                  127.0.0.1;
    <root>                  ./www/server2;
    <html_index>            html/accueil.html;
    <autoindex>             OFF;
    <client_max_body_size>  2097152;             // 2 MB

    // Error pages
    <error_page>            400 html/error/400.html;
    <error_page>            403 html/error/403.html;
    <error_page>            404 html/error/404.html;
    <error_page>            500 html/error/500.html;

    // Upload storage
    <upload_storage>        ./uploads2;

    // Redirections
    #<return>                301 /html/welcome.html;

    // Allowed methods (default GET DELETE POST)
    <allow>                 GET POST;

    // Locations
    location /downloads {
        <root>              ./www/server2/files;
        <autoindex>         ON;
        <allow>             GET;
    }

    location /scripts {
        <CGI>               .pl /usr/bin/perl;
        <allow>             GET POST;
    }

    location /static {
        <root>              ./www/server2/static;
        <html_index>        index.html;
        <autoindex>         OFF;
    }
}

